.header .logo-header,
.header .nav ul li {
  float: left;
  position: relative;
  z-index: 6;
}

.header .nav ul {
  float: right;
}

.header .logo-header {
  padding: 19px 0 14px 0;
}

.header .logo-header img {
  width: 95px;
  height: 16px;
}

a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.header .nav ul a {
  padding: 18px 0 17px 38px;
  color: rgb(52, 54, 56, 0.5);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.header .nav ul a:hover,
.header .nav ul a.active {
  color: rgb(52, 54, 56);
}

/* cmn-ttl */
.cmn-ttl {
  padding-bottom: 32px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 3px solid #FFFFFF;
}

/* cmn-sec-ttl */
.cmn-sec-ttl {
  color: #202124;
  font-size: 24px;
  font-weight: 700;
}

/* cmn-time */
.cmn-time {
  position: relative;
  line-height: 1.3;
  padding-left: 26px;
  color: #A6ADB4;
  font-size: 13px;
  font-weight: 400;
}

.cmn-time::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/common_images/img_time.png") no-repeat center/contain;
  content: "";
}

/* cmn-btn */

.cmn-btn {
  padding: 13px 30px;
  border: 1px solid transparent;
  background-color: #FA6980;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  border-radius: 6px;
}

.cmn-btn:hover {
  border: 1px solid #fa6980;
  background-color: #ffffff;
  color: #fa6980;
}

/* footer */

.footer {
  padding-top: 53px;
  padding-bottom: 59px;
  background-color: #A6ADB4;
}


.footer-blk .footer-box {
  float: left;
}

.footer-blk .footer-box:first-child {
  margin-right: 16%;
}

.footer-blk .footer-box:last-child {
  float: right;
}

.footer-box .footer-logo {
  float: left;
  width: 95px;
  height: 16px;
  margin-top: 1px;
}

.footer-box .inner-ul {
  float: left;
  width: 320px;
}

.footer-box .inner-li {
  float: left;
  padding-left: 39px;
}

.inner-li ul li a {
  margin-bottom: 7px;
  color: #CBD0D3;
  font-size: 13px;
  font-weight: 700;
}

.input-box {
  position: relative;
  padding-top: 3px;
}

.input-box::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 16px;
  height: 16px;
  background: url("../img/common_images/img_send_btn.png") no-repeat center/contain;
  content: "";
  transform: translateY(-40%);
}

.footer-blk .footer-input {
  width: 262px;
  padding: 12px 20px 10px;
  border: 2px solid #CBD0D3;
  background-color: transparent;
  color: #CBD0D3;
  font-size: 13px;
  outline: none;
  border-radius: 6px;
}

::placeholder {
  color: #CBD0D3;
}

.footer-blk .input-para {
  margin-top: 18px;
  padding-left: 1px;
  color: #CBD0D3;
  font-size: 11px;
}

.footer-icon {
  padding-top: 1px;
}

.footer-icon li {
  float: left;
  padding-left: 32px;
}

.footer-icon li img {
  width: 16px;
  height: 16px;
}

@media screen and (min-width:768px) and (max-width:1160px) {

  .header .logo-header {
    padding: 2.4vw 0 1.8vw 0;
  }

  .header .logo-header img {
    width: 12.4vw;
    height: 2.1vw;
  }

  .header .nav ul a {
    padding: 2.3vw 0 2.2vw 5.3vw;
    font-size: 1.8vw;
    letter-spacing: 0vw;
  }

  .humburger-menu {
    display: none;
    float: right;
  }

  /* cmn-ttl */
  .cmn-ttl {
    padding-bottom: 4vw;
    font-size: 3.1vw;
    border-bottom: 0.4vw solid #FFFFFF;
  }

  /* cmn-sec-ttl */
  .cmn-sec-ttl {
    font-size: 3.1vw;
  }

  /* cmn-time */
  .cmn-time {
    line-height: 1.3;
    padding-left: 3.4vw;
    font-size: 1.7vw;
  }

  .cmn-time::before {
    width: 2.1vw;
    height: 2.1vw;
  }

  /* cmn-btn */

  .cmn-btn {
    padding: 1.7vw 3.9vw;
    border: 0.1vw solid transparent;
    font-size: 1.4vw;
    border-radius: 0.8vw;
  }

  /* footer */

  .footer {
    padding-top: 6.9vw;
    padding-bottom: 7.7vw;
  }


  .footer-blk .footer-box {
    float: left;
  }

  .footer-blk .footer-box:first-child {
    display: block;
    float: none;
    margin-right: 0;
    margin-bottom: 5.5vw;
  }

  .footer-blk .footer-box:last-child {
    float: right;
  }

  .footer-box .footer-logo {
    float: left;
    width: 12.4vw;
    height: 2.1vw;
    margin-top: 0.5vw;
  }

  .footer-box .inner-ul {
    float: right;
    width: 41.7vw;
    margin-top: 0.2vw;
  }

  .footer-box .inner-li {
    float: left;
    padding-top: 0.1vw;
    padding-left: 5.1vw;
  }

  .inner-li ul li a {
    margin-bottom: 0.9vw;
    color: #CBD0D3;
    font-size: 1.7vw;
    font-weight: 700;
  }

  .input-box {
    position: relative;
    padding-top: 0.4vw;
  }

  .input-box::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 2.6vw;
    width: 2.1vw;
    height: 2.1vw;
    background: url("../img/common_images/img_send_btn.png") no-repeat center/contain;
    content: "";
    transform: translateY(-40%);
  }

  .footer-blk .footer-input {
    width: 37vw;
    padding: 1.6vw 2.6vw 1.3vw;
    border: 0.3vw solid #CBD0D3;
    background-color: transparent;
    color: #CBD0D3;
    font-size: 1.7vw;
    outline: none;
    border-radius: 0.8vw;
  }

  ::placeholder {
    color: #CBD0D3;
  }

  .footer-blk .input-para {
    margin-top: 2.3vw;
    padding-left: 0.1vw;
    color: #CBD0D3;
    font-size: 1.4vw;
  }

  .footer-icon {
    padding-top: 0.6vw;
  }

  .footer-icon li {
    float: left;
    padding-left: 3.1vw;
  }

  .footer-icon li img {
    width: 2.1vw;
    height: 2.1vw;
  }

}

@media screen and (max-width:767.9px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    padding-top: 2.7vw;
    padding-bottom: 2.2vw;
    background-color: #F6F8F9;
  }

  .header .logo-header {
    padding: 0;
  }

  .header .logo-header img {
    width: 14.7vw;
    height: 2.5vw;
  }

  .header .nav,
  .header .nav ul,
  .header .nav ul li {
    display: block;
    float: none;
  }

  .header .nav {
    position: absolute;
    top: -135.5vw;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-top: 15.5vw;
    padding-bottom: 84.4vw;
    background-color: #F6F8F9;
    transition: all 1s ease-out;
  }

  .header .nav.open-menu {
    top: 0;
    transition: all 1s ease-in;
  }

  .header .nav ul li {
    margin-bottom: 9.4vw;
    text-align: center;
  }

  .header .nav ul a {
    margin: 0;
    padding: 0;
    font-size: 2.5vw;
    letter-spacing: 0vw;
  }

  .humburger-menu {
    display: block;
    position: relative;
    float: right;
    z-index: 5;
    width: 2.5vw;
    height: 2.2vw;
  }

  .humburger-menu span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #343638;
    transition: 0.5s;
    border-radius: 0.8vw;
  }

  .humburger-menu span:nth-of-type(1) {
    top: 0;
    height: 0.3vw;
  }

  .humburger-menu span:nth-of-type(2) {
    top: 0.9vw;
    height: 0.3vw;
  }

  .humburger-menu span:nth-of-type(3) {
    bottom: 0;
    height: 0.3vw;
  }

  .humburger-menu span.close-btn:nth-of-type(1) {
    top: 0.9vw;
    height: 0.3vw;
    transform: rotate(45deg);
  }

  .humburger-menu span.close-btn:nth-of-type(2) {
    opacity: 0;
  }

  .humburger-menu span.close-btn:nth-of-type(3) {
    top: 0.9vw;
    height: 0.3vw;
    transform: rotate(-45deg);
  }



  /* cmn-ttl */
  .cmn-ttl {
    padding-bottom: 5vw;
    font-size: 3.8vw;
    border-bottom: 0.3vw solid #FFFFFF;
  }

  /* cmn-sec-ttl */
  .cmn-sec-ttl {
    font-size: 3.8vw;
  }

  /* cmn-time */
  .cmn-time {
    line-height: 1.3;
    padding-left: 4.1vw;
    font-size: 2vw;
  }

  .cmn-time::before {
    width: 2.5vw;
    height: 2.5vw;
  }

  /* cmn-btn */

  .cmn-btn {
    padding: 2vw 4.7vw;
    border: 0.2vw solid transparent;
    font-size: 1.7vw;
    border-radius: 0.9vw;
  }

  /* footer */

  .footer {
    padding-top: 8.3vw;
    padding-bottom: 9.2vw;
    background-color: #A6ADB4;
  }


  .footer-blk .footer-box {
    float: left;
  }

  .footer-blk .footer-box:first-child {
    display: block;
    float: none;
    margin-right: 0;
    margin-bottom: 6.4vw;
  }

  .footer-blk .footer-box:last-child {
    float: right;
  }

  .footer-box .footer-logo {
    float: left;
    width: 14.8vw;
    height: 2.5vw;
    margin-top: 0.5vw;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer-box .inner-ul {
    float: right;
    width: 50vw;
  }

  .footer-box .inner-li {
    float: left;
    padding-top: 0.2vw;
    padding-left: 6.3vw;
  }

  .inner-li ul li a {
    margin-bottom: 1.1vw;
    color: #CBD0D3;
    font-size: 2vw;
    font-weight: 700;
  }

  .input-box {
    position: relative;
    padding-top: 0.5vw;
  }

  .input-box::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 3.1vw;
    width: 2.5vw;
    height: 2.5vw;
    background: url("../img/common_images/img_send_btn.png") no-repeat center/contain;
    content: "";
    transform: translateY(-40%);
  }

  .footer-blk .footer-input {
    width: 44.4vw;
    padding: 1.9vw 3.1vw 1.6vw;
    border: 0.3vw solid #CBD0D3;
    background-color: transparent;
    color: #CBD0D3;
    font-size: 2vw;
    outline: none;
    border-radius: 0.9vw;
  }

  ::placeholder {
    color: #CBD0D3;
  }

  .footer-blk .input-para {
    margin-top: 2.8vw;
    padding-left: 0.2vw;
    color: #CBD0D3;
    font-size: 1.7vw;
  }

  .footer-icon {
    padding-top: 0.6vw;
  }

  .footer-icon li {
    float: left;
    padding-left: 3.8vw;
  }

  .footer-icon li:last-child {
    padding-right: 7.7vw;
  }

  .footer-icon li img {
    width: 2.5vw;
    height: 2.5vw;
  }
}