/* Slider */
.slick-slider {
  display: block;
  position: relative;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  /* cursor: hand; */
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: block;
}


/* prev and next */
.slider {
  position: relative;
}

.slick-list {
  border-radius: 6px 6px 0 0;
}

.slick-prev,
.slick-next {
  display: block;
  position: absolute;
  top: 44%;
  border: none;
  background-color: transparent;
  color: transparent;
  font-size: 0;
}

.slick-prev {
  left: -88px;
}

.slick-next {
  right: -79px;
}

.slick-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 40px;
  background: url("../img/top_images/img_arrow_left.png") no-repeat center/contain;
  content: "";
  cursor: pointer;
}

.slick-next::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 40px;
  background: url("../img/top_images/img_arrow_right.png") no-repeat center/contain;
  content: "";
  cursor: pointer;
}

/* slick-dots */

.slider {
  position: relative;
}

.slick-dots {
  position: absolute;
  bottom: -26px;
  left: 0;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.slick-dots li {
  display: inline-block;
  margin-right: 7px;
}

.slick-dots li:first-child {
  margin-left: 5px;
}

.slick-dots li button {
  position: relative;
  width: 10px;
  height: 10px;
  border: none;
  background-color: transparent;
  color: transparent;
}

.slick-dots li button::before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #cbcccd;
  content: "";
  cursor: pointer;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  background-color: #666666;
}

@media screen and (min-width:768px) and (max-width:1160px) {

  /* prev and next */

  .slick-list {
    border-radius: 0.8vw 0.8vw 0 0;
  }

  .slick-prev {
    top: 47%;
    left: -2.9vw;
  }

  .slick-next {
    top: 47%;
    right: -3.1vw;

  }

  .slick-prev::before {
    width: 1.3vw;
    height: 2.6vw;
  }

  .slick-next::before {
    width: 1.3vw;
    height: 2.6vw;
  }

  /* slick-dots */
  .slick-dots {
    bottom: -5.4vw;
  }

  .slick-dots li {
    margin-right: 0.8vw;
  }

  .slick-dots li:first-child {
    margin-left: 0.7vw;
  }

  .slick-dots li button {
    width: 1.3vw;
    height: 1.3vw;
  }

  .slick-dots li button::before {
    top: 0.1vw;
    width: 1.3vw;
    height: 1.3vw;
  }

}

@media screen and (max-width:767.9px) {

  /* prev and next */

  .slick-prev,
  .slick-next {
    top: 42.5%;
    width: 3.3vw;
    height: 7vw;
  }

  .slick-prev {
    left: -19.7vw;
  }

  .slick-next {
    right: -19.7vw;
  }

  .slick-prev::before {
    top: 28%;
    width: 3.3vw;
    height: 7vw;
  }

  .slick-next::before {
    top: 24%;
    width: 3.3vw;
    height: 7vw;

  }

  /* slick-dots */
  .slick-dots {
    bottom: -5.6vw;
  }

  .slick-dots li {
    margin-right: 0.9vw;
  }

  .slick-dots li:first-child {
    margin-left: 0.8vw;
  }

  .slick-dots li button {
    width: 1.6vw;
    height: 1.6vw;
  }

  .slick-dots li button::before {
    top: 0.2vw;
    width: 1.6vw;
    height: 1.6vw;
  }

}